<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <properties resource="mybatis-generator/mybatis-generator-config.properties"/>

    <context id="sql" targetRuntime="MyBatis3" defaultModelType="flat">

        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin" />
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <plugin type="com.softwareloop.mybatis.generator.plugins.LombokPlugin">
            <!-- enable annotations -->
            <property name="builder" value="true"/>
            <property name="NoArgsConstructor" value="true"/>
            <property name="AllArgsConstructor" value="true"/>
        </plugin>

        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="${jdbc.driverClass}"
                        connectionURL="${jdbc.connectionURL}"
                        userId="${jdbc.userId}"
                        password="${jdbc.password}">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="true"/>
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="${package.model}"
                            targetProject="./src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="${package.mapper}"
                         targetProject="./src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
		                     targetPackage="${package.dao}"
		                     targetProject="./src/main/java">
		    <property name="enableSubPackages" value="false"/>
		    <property name="annotation" value="true"/> <!-- 啟用自動添加 @Mapper 注解 -->
		</javaClientGenerator>

        <!-- generate table list -->
        <table tableName="PLAYER" domainObjectName="Player"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true" />
        </table>
        <table tableName="ITEM" domainObjectName="Item"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true" />
        </table>
        <table tableName="EVENT" domainObjectName="Event"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true" />
        </table>
        <table tableName="TEMP_GAME_MAP_TITLE" domainObjectName="TempGameMapTitle"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true" />
        </table>
        <table tableName="GAME_MAP_TITLE" domainObjectName="GameMapTitle"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true" />
        </table>
        <table tableName="MAP_TITLE" domainObjectName="MapTitle"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true" />
        </table>
        <table tableName="NPC" domainObjectName="Npc"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true" />
        </table>
        <table tableName="SYSTEM_CODE" domainObjectName="SystemCode"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="ID" sqlStatement="JDBC" identity="true" />
        </table>
    </context>
</generatorConfiguration>