<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trpg.dao.mapper.MapTitleMapper">
  <resultMap id="BaseResultMap" type="com.example.trpg.dao.model.MapTitle">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TRAP_FLAG" jdbcType="INTEGER" property="trapFlag" />
    <result column="PATTERN" jdbcType="VARCHAR" property="pattern" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ENABLED" jdbcType="INTEGER" property="enabled" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TRAP_FLAG, PATTERN, NAME, ENABLED, ICON
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from map_title
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from map_title
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.example.trpg.dao.model.MapTitle" useGeneratedKeys="true">
    insert into map_title (TRAP_FLAG, PATTERN, NAME, 
      ENABLED, ICON)
    values (#{trapFlag,jdbcType=INTEGER}, #{pattern,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{enabled,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.example.trpg.dao.model.MapTitle" useGeneratedKeys="true">
    insert into map_title
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trapFlag != null">
        TRAP_FLAG,
      </if>
      <if test="pattern != null">
        PATTERN,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="icon != null">
        ICON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trapFlag != null">
        #{trapFlag,jdbcType=INTEGER},
      </if>
      <if test="pattern != null">
        #{pattern,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.trpg.dao.model.MapTitle">
    update map_title
    <set>
      <if test="trapFlag != null">
        TRAP_FLAG = #{trapFlag,jdbcType=INTEGER},
      </if>
      <if test="pattern != null">
        PATTERN = #{pattern,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.trpg.dao.model.MapTitle">
    update map_title
    set TRAP_FLAG = #{trapFlag,jdbcType=INTEGER},
      PATTERN = #{pattern,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=INTEGER},
      ICON = #{icon,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>