<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trpg.dao.mapper.TempGameMapTitleMapper">
  <resultMap id="BaseResultMap" type="com.example.trpg.dao.model.TempGameMapTitle">
    <result column="UID" jdbcType="VARCHAR" property="uid" />
    <result column="MAP_TITLE_ID" jdbcType="INTEGER" property="mapTitleId" />
    <result column="RELATED_EVENTS" jdbcType="VARCHAR" property="relatedEvents" />
    <result column="X" jdbcType="INTEGER" property="x" />
    <result column="Y" jdbcType="INTEGER" property="y" />
    <result column="FLOOR" jdbcType="INTEGER" property="floor" />
  </resultMap>
  <sql id="Base_Column_List">
    UID, MAP_TITLE_ID, RELATED_EVENTS, X, Y, FLOOR
  </sql>
  <insert id="insert" parameterType="com.example.trpg.dao.model.TempGameMapTitle">
    insert into temp_game_map_title (UID, MAP_TITLE_ID, RELATED_EVENTS, 
      X, Y, FLOOR)
    values (#{uid,jdbcType=VARCHAR}, #{mapTitleId,jdbcType=INTEGER}, #{relatedEvents,jdbcType=VARCHAR}, 
      #{x,jdbcType=INTEGER}, #{y,jdbcType=INTEGER}, #{floor,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.trpg.dao.model.TempGameMapTitle">
    insert into temp_game_map_title
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        UID,
      </if>
      <if test="mapTitleId != null">
        MAP_TITLE_ID,
      </if>
      <if test="relatedEvents != null">
        RELATED_EVENTS,
      </if>
      <if test="x != null">
        X,
      </if>
      <if test="y != null">
        Y,
      </if>
      <if test="floor != null">
        FLOOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="mapTitleId != null">
        #{mapTitleId,jdbcType=INTEGER},
      </if>
      <if test="relatedEvents != null">
        #{relatedEvents,jdbcType=VARCHAR},
      </if>
      <if test="x != null">
        #{x,jdbcType=INTEGER},
      </if>
      <if test="y != null">
        #{y,jdbcType=INTEGER},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>